.markdown p {
  color: #333;
  font-size: 1.125rem;
  line-height: 1.75;
  margin-top: 1em;
}

.markdown h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.markdown h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.markdown h3 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.markdown ul {
  color: #333;
  list-style-type: disc;
  margin-left: 2rem; 
  margin-bottom: 1em;
  font-size: 1.125rem;
}

.markdown a {
  color: darkslategray;
  border-bottom: 1px solid darkslategray;
  text-decoration: none;
  padding-bottom: 2px;
}

.markdown a:hover {
  color: blue;
  border-bottom: 20, solid,black; 
}


.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  min-width: 100%;
}

.markdown thead tr {
  background-color: hsl(159, 20%, 42%); /* Example primary color, adjust as needed */
  color: #fff;
}

.markdown th,
.markdown td {
  border: 1px solid #444;
  padding: 0.2rem 0.75rem;
  text-align: left;
  font-size: 0.7rem;
}

.markdown tbody tr:nth-child(even) {
  background-color: #f7f7f7; /* Light background for even rows */
  color: #222;
}

.markdown tbody tr:nth-child(odd) {
  background-color: #22222200; /* Slightly darker for odd rows */
  color: #222;
}